@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
:root {
    /* Colors: */
    --green-light: #1ed997;
    --green: #19703f;
    --dark-blue: #00355b;
    --blue-light: #70bbda;
    --white: #ffff;
    --orange: #ff4f3d;
    --yellow: #ffbf3a;
    /* Font */
    --body-font: "Poppins", sans-serif;
    /* Font */
    --font-10: 10px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-21: 21px;
    --font-24: 24px;
    --font-40: 40px;
    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;
    /* Margenes */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
}

/* Custom Styles */

* {
    padding: 0vh;
    margin: 0vh;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: var(--body-font);
    width: 100%;
}

a {
    padding: 0vh;
}

ul, p {
    list-style-type: none;
    margin: 0vh;
    padding: 0vh;
    overflow: hidden;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 0vh;
}

li a {
    text-align: center;
    text-decoration: none;
    color: var(--dark-blue);
    font-size: var(--font-18);
    font-weight: var(--font-bold);
}

.hover {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    transition: background-size 0.2s;
    background-size: 0% 2px;
    background-repeat: no-repeat;
}

.hover:hover, hover:focus {
    background-size: 100% 2px;
    color: var(--dark-blue);
}

.fw-medium {
    font-weight: var(--font-medium);
}

.container {
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: var(--blue-light);
    width: 100%;
    height: 8vh;
    z-index: 999;
}

/* Custom Styles */

/* Navbar */

.navbar {
    background-color: var(--blue-light);
    position: fixed;
    margin-left: 15vh;
    margin-right: 20vh;
}

.navbar-light .navbar-nav .nav-link.active {
    margin-right: 10vh;
    color: var(--dark-blue);
}

.item__link a{
    color: var(--dark-blue);
    color: red;
}

.link__vip3 {
    color: var(--dark-blue);
    font-size: 2vh;
    font-weight: 500;
    margin-left: 3vh;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-toggler{
    border-color: var(--blue-light);
}

.navbar-collapse__button {
    display: none;
}

.logo b a {
    font-size: 3.5vh;
    font-weight: var(--font-black);
    color: var(--dark-blue);
}

.navbar-light .navbar-brand {
    color: var(--dark-blue);
}

.dropdown-toggle::after {
    display: none;
    margin-top: 20vh;
}

/* Navbar */

/* Section One */

.sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue-light);
    color: var(--white);
    font-size: 3.33vh;
    font-weight: var(--font-bold);
    height: 80vh;
}

.images__man {
    position: relative;
    z-index: 1;
}

.images__redCar {
    position: relative;
    z-index: 0;
}

.sectionOne__element1 {
    color: var(--white);
    font-size: var(--title-white-font-size);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: initial;
    width: 50%;
    margin-left: 8.6vh;
    margin-top: 10vh;
}

.sectionOne__element1 b {
    color: var(--dark-blue);
}

.sectionOne__images {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    left: 0;
    top: 0;
}

.sectionOne__element2 {
    display: flex;
    align-items: flex-end;
}

.sectionOne__element2 p {
    font-weight: var(--font-medium);
    color: var(--dark-blue);
    margin-left: 5vh;
    font-size: 2vh;
    display: flex;
}

.element2__button {
    background-color: var(--orange);
    font-weight: var(--font-bold);
    border-radius: 4vh;
    margin-top: 1vh;
    font-size: 2vh;
    width: 20vh;
    height: 6vh;
    border: 0;
    color: var(--letter-white-color);
}

.element2__button a {
    text-decoration: none;
    color: white;
}

.sectionSix__button a {
    text-decoration: none;
    color: var(--dark-blue);
    
}

.sectionFour__button {
    color: var(--letter-white-color);
}

.sectionFour__button a {
    text-decoration: none;
    color: var(--letter-white-color);
}

/* Section One */

/* Section Two */

.sectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54vh;
    background-color: #ffff;
    color: var(--dark-blue);
    text-align: center;
    font-size: 2vh;
}

.sectionTwo h2 {
    font-weight: var(--font-black);
    font-size: 4.5vh;
}

.sectionTwo__text {
    color: var(--green-light);
}

.fontgreen {
    color: var(--green-light);
}

/* Section Two */

/* Section three*/

.sectionThree {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin: auto;
    background-color: var(--blue-light);
}

.sectionThree__images {
    display: flex;
    align-items: center;
    margin: auto;
    width: inherit;
}

.sectionThree__images h3 {
    font-size: 4vh;
    color: var(--dark-blue);
    font-weight: var(--font-bold);
}

.images__info {
    display: flex;
    align-items: flex-end;
    padding: 1vh;
    width: 100%;
}

.imgCard {
    width: 25.5vh;
    height: 40vh;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 9px #0000004d;
    border-radius: 2vh;
    opacity: 1;
    box-shadow: 4px 4px #8f9393;
}

.imgCard p {
    font: var(--dark-blue);
    font-size: var(--font-14);
    font-weight: var(--font-bold);
    color: var(--dark-blue);
    width: 100%;
    height: 62px;
    text-align: center;
    text-justify: center;
    letter-spacing: 0px;
}

.containerSec3 {
    width: 90%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.sec3CardImg {
    padding: auto;
    margin: auto;
}

.sec3CardImg img {
    width: 100%;
    border-radius: 1vh;
}

.cardcontainer {
    padding: 1vh;
    margin: auto;
}

.sec3CardP {
    padding: auto;
    margin: auto;
}

.sec3Text {
    margin: auto;
}

.images__infoMobile {
    display: none;
    text-align: center;
}

.images__infoMobile1 img {
    display: none;
}

/* Section three */

#carousel .carousel, #carousel .carousel-inner, #carousel .carousel-item, #carousel .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

#carousel {
    width: 100%;
    height: 35vh;
    display: none;
    overflow: hidden;
    position: relative;
    margin: auto;
    background-size: 100%;
}
#carousel .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#carousel h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

#carousel p {
    width: 100%;
    line-height: 1.2;
    margin: 0;
}

.carousel-inner {
    text-align: center;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: auto;
    top: 10%;
    left: 43%;
    width: 23%;
    right: auto;
}

/* Section four */

.sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    text-align: center;
    padding: 0;
}

.informationElements {
    display: flex;
    background-image: url(../Images/mano_mobile.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 45rem;
    height: auto;
}

.informationElements2 {
    display: flex;
    width: auto;
    align-items: center;
    position: relative;
    top: -1rem;
    left: 6rem;
}

.sectionFour__elements {
    display: flex;
    width: 100%;
    height: 82vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.elements__image {
    position: relative;
    min-width: 50%;
    height: 465px;
    min-width: 20%;
    z-index: 0;
}

.title__element {
    color: var(--orange);
    font-weight: var(--font-bold);
    font-size: 25px;
    margin-top: 1em;
    z-index: 1;
}

.sectionFour__information {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    text-align: left;
}

.informationElements__information {
    position: relative;
    top: 8rem;
    display: flex;
    flex-direction: column;
    left: 20rem;
}

.informationElements__information2 {
    margin-right: 8em;
    height: 20rem;
    padding: 1rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 9px #00000080;
    border-radius: 16px;
    opacity: 1;
    width: 10.5rem;
}

.informationElements__information3 {
    height: 20rem;
    padding: 1rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 9px #00000080;
    border-radius: 16px;
    opacity: 1;
    width: 10.5rem;
}

.information__text1 {
    font-weight: var(--font-bold);
    color: var(--orange);
    font-size: 1.2rem;
    width: 6.5rem;
    text-align: left;
}

.information__text2 {
    color: var(--dark-blue);
    width: 6.5rem;
    text-align: left;
    font-size: 1rem;
    margin-top: 3vh;
}

.information2__text1 {
    font-weight: var(--font-bold);
    color: var(--orange);
    font-size: 1.2rem;
    width: 6.5rem;
    text-align: left;
    margin-top: 0.9rem;
}

.information2__text2 {
    color: var(--dark-blue);
    text-align: left;
    font-size: 1rem;
    width: 6.5rem;
}

.info__mano {
    position: absolute;
}

.sectionFourBtnBack {
    background-color: var(--blue-light);
    height: 15vh;
    margin-bottom: 10vh;
}

.sectionFour__button {
    background-color: var(--orange);
    color: var(--white);
    font-weight: var(--font-bold);
    border-radius: 4vh;
    width: 25vh;
    height: 6vh;
    font-size: 2vh;
}

.sectionFour__button a {
    color: white;
}

/* Section four */

/* Section five */

.sectionFive b {
    font-size: 40px;
    margin: 0 1em 0 1em;
}

.sectionFive p {
    font-size: 18px;
    margin: 0 2em 0 2.2em;
    width: 50%;
}

.sectionFive__element {
    height: 58vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.sectionFive__element img {
    opacity: 0;
    width: 100%;
}

.sectionFive__link {
    text-decoration: none;
    color: black;
}

.border-right {
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.border-left {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

/* Section five */

/* Section six */

.sectionSix {
    background-color: var(--blue-light);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionSix__elements {
    margin: 0em;
}

.elements__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 12px;
    width: 518px;
    height: 238px;
    padding-bottom: 1em;
}

.sectionSix__title {
    color: var(--yellow);
    font-size: 35px;
    text-align: center;
}

.sectionSix__info {
    color: var(--dark-blue);
    font-weight: var(--font-medium);
    align-self: top;
    font-size: 20px;
    text-align: center;
    height: 60px;
    margin: 1vh;
}

.sectionSix__button {
    background-color: var(--yellow);
    color: var(--dark-blue);
    border-radius: 32px;
    font-weight: var(--font-bold);
}

/* Section six */

/* Section seven */

.sectionSeven {
    background-color: var(--dark-blue);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sectionSeven b {
    color: var(--white);
    font-size: 40px;
}

.sectionSeven p {
    color: var(--white);
    font-size: 20px;
}

/* Section seven */

.footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    background-color: var(--orange);
    height: 10vh;
    font-size: 3vh;
}

.svg-inline--fa.fa-fw{
    width: 4.5vh;
}

.footer p {
    text-align: center;
    font-size: 1.5vh;
}

footer .btn-social {
    border-radius: 50%;
    background-color: white;
}

.btn-outline-light {
    color: var(--dark-blue);
}

.btn {
    border: 2px solid transparent;
}

.btn:hover {
    border-color: var(--dark-blue);
}

/* Pestañas Calificacion-prestamo-gracias */

.header__pestaña {
    height: 8vh;
    width: 100%;
    background-color: var(--orange);
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center
}

.header__pestaña p {
    font-weight: 600;
    font-size: 3vh;
}

.sectionSimulador {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--blue-light);
}

.sectionSimulador__data {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footer b {
    font-size: 3vh
}

.footer p {
    font-size: 1.5vh;
}

.sectionGracias {
    display: flex;
    align-items: center;
    height: 82vh;
}

.sectionGracias__data {
    width: 75%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.sectionGracias__image {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.redes__data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Pestañas Calificacion-prestamo-gracias */

/* Media Queries */

@media only screen and (max-width: 800px) {
    .header {
        height: 11vh;
    }
    .li a {
        text-align: initial;
        margin-left: 1vh;
    }
    /* NavBar */
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-content: space-between;
        margin: 0vh;
        width: 67%;
    }
    .navbar-collapse {
        position: fixed;
        top: 0vh;
        /* adjust to height of navbar */
        left: 0;
        padding-bottom: 15px;
        padding-top: 5vh;
        width: 50%;
        height: 100%;
        background-color: var(--dark-blue);
    }

    .navbar-collapse__button {
        padding-right: 2vh;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        color: var(--blue-light);
        background-color: var(--dark-blue);
        border-style: none;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: white;
        margin-right: 0vh;
        text-align: initial;
        padding-left: 4vh;
        font-size: 1.5vh;
    }

    .link__vip2 a{
        color: var(--blue-light);
    }
    .navbar-light .navbar-toggler {
        border-color: none;
    }
    .link__vip {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .link__vip2 {
        color: var(--blue-light);
    }
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }
    .nav-item {
        margin-left: 0px;
    }
    .navbar-collapse.show {
        opacity: .9;
        z-index: 2;
        left: 0;
        transition: left 800ms ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .navbar-collapse.show a {
        width: 100%;
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 800ms ease-in-out;
        border-style: none;
    }

    /* NavBar */
    /* Section One */
    .sectionOne {
        font-size: 21px;
        font-weight: var(--font-bold);
        width: 100%;
        height: 88vh;
    }
    .sectionOne__images {
        justify-content: center;
    }
    .images__man {
        /* width: 22vh;
        height: auto;
        left: 48.5vh;
        top: 19vh; */
        width: 30vh;
    height: auto;
    left: 33%;
    position: absolute;
    top: 49vh;
    }
    .images__redCar {
        /* width: 36vh;
        height: auto;
        left: 5.5vh;
        top: 15vh; */
        width: 33vh;
        height: auto;
        left: 13.5vh;
        top: 13vh;
    }
    .sectionOne__element1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0px;
        margin-top: 8vh;
    }
    .link__vip3 {
        margin-left: 0px;
        margin-top: 1vh;
    }
    .element1__info {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }
    .element1__info p {
        margin-right: 9px;
    }
    .sectionOne__element2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionOne__element2 p {
        margin-top: 12px;
        margin-left: 0px;
        font-size: 2vh;
    }
    .element2__button {
        height: 7vh;
        margin-top: 18px;
        font-size: 2vh;
    }
    /* Section One */
    .sectionTwo h2 {
        font-size: 25px;
    }
    .sectionTwo {
        margin-top: 2vh;
    }
    /* Section Three */
    .sectionThree {
        height: 73vh;
    }
    .containerSec3 {
        justify-content: flex-start;
        width: 29vh;
    }
    .sectionThree__images h3 {
        font-size: 25px;
    }
    .images__info {
        width: 100%;
        border-radius: 16px;
        text-align: center;
    }
    .sectionThree__images h3 {
        display: none;
    }
    .images__infoMobile {
        display: flex;
        color: var(--dark-blue);
        font-weight: var(--font-bold);
    }
    /* Section Three */
    .elements__1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--white);
        border-radius: 12px;
        width: 228px;
        height: 118px;
        font-size: 12px;
    }
    .elements__1 button {
        font-size: 12px;
    }
    .sectionSeven b {
        font-size: 25px;
    }
    .sectionSeven p {
        font-size: 15px;
    }
    .footer {
        font-size: 2vh;
        height: 9vh;
    }

    .redes__style{
        flex-direction: column-reverse;
        margin-bottom: 1.5vh;
    }

    .redes__style p{
        margin-top: .5vh;
    }
    .svg-inline--fa.fa-fw{
        width: 3vh;
    }
    .footer b {
        font-size: 2vh;
    }

    .footer p {
        font-size: 1.2vh;
    }
    .hero {
        flex-direction: column;
    }
    .sectionOne__element1 {
        font-size: 30px;
        width: 100%;
    }
    .sectionOne__element1 {
        flex-direction: column;
    }
    .sectionOne__element2 {
        font-size: 10px;
    }
    /* Section Four */
    .sectionFour {
        justify-content: flex-start;
        height: 60vh;
    }
    .sectionFour__elements {
        height: 100%;
    }
    .title__element {
        margin-top: 2em;
    }
    .informationElements {
        display: none;
    }
    #carousel {
        width: 60vh;
        height: 40vh;
        display: block;
    }
    .img_carousel {
        height: 44vh;
    }
    #carousel p {
        width: 8.5vh;
    }
    .carousel-container {
        top: 27%;
        left: 44%;
        width: 16%;
        right: auto;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300355b' viewBox='0 0 10 10'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300355b' viewBox='0 0 10 10'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
    .carousel-control-next {
        right: 8vh;
    }
    .carousel-control-prev {
        left: 10vh;
    }
    .information2__text1 {
        font-size: 1.2vh;
        width: 13vh;
        margin-top: 0.5vh;
    }
    .information2__text2 {
        font-size: 1.1vh;
        width: 100%;
    }
    .information__text1 {
        font-size: 1.2vh;
        width: 8vh;
        margin-top: 0.5vh;
    }
    .information__text2 {
        width: 8vh;
        font-size: 1.1vh;
    }
    .images__infoMobile1 img {
        height: auto;
        width: 5vh;
        margin-top: 3vh;
        display: block;
    }
    /* Section Four */
    /* Section Five */
    .sectionFive__element {
        height: 35vh;
    }
    .sectionFive p {
        font-size: 1.5vh;
        width: 80%;
        text-align: center;
    }
    .sectionFive b {
        font-size: 1.8vh;
    }
    /* Section Five */
    /* Section Six */
    .sectionSix {
        height: auto;
    }
    .elements__1 {
        height: auto;
    }
    .elements__1 b {
        margin: 1vh;
        font-size: var(--font-18);
    }
    .elements__1 p {
        text-align: center;
        margin: 1vh;
    }
    .sectionFour__button {
        height: 7vh;
    }
    /* Section Six */
    .sectionSix__elements {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionSix__info {
        font-size: 12px;
        height: auto;
    }
    .elements__1 {
        width: 80%;
    }
    .element1__text2 {
        align-self: center;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
    .header {
        height: 13vh;
    }
    /* NavBar */
    .navbar {
        height: 64px;
    }
    .logo a {
        font-size: px;
        align-self: center;
    }
    li {
        margin: 20px;
    }
    li a {
        font-size: 18px;
    }
    .navbar-light .navbar-nav .nav-link.active {
        margin-right: 0vh;
    }
    /* NavBar */
    /* Section One */
    .sectionOne {
        font-size: 1vh;
        font-weight: var(--font-bold);
        width: 100%;
        height: 55vh;
    }
    .sectionOne__element1 {
        width: 50%;
        margin-left: 3.4vh;
        margin-bottom: 32vh;
        margin-top: 15em;
    }
    .images__man {
        width: 36vh;
        top: 10vh;
        left: 38vh;
    }
    .images__redCar {
        width: 56vh;
        left: -33vh;
        top: 11vh;
    }
    .element1__info {
        font-size: 6vh;
        margin-bottom: 1vh;
    }
    .sectionOne__element2 {
        align-items: center;
    }
    /* Section One */
    /* Section three */
    .containerSec3 {
        justify-content: flex-start;
    }
    .cardcontainer {
        margin: 8px;
        margin-bottom: 4em;
    }
    .information__text1 {
        font-size: 12px;
    }
    .information__text2 {
        font-size: 10px;
    }
    /* Section three */
    /* Section Four */
    .sectionFour__elements {
        height: 80vh;
    }
    .sectionFour__information {
        width: 100%;
    }
    .informationElements__information {
        left: 32vh;
    }
    .informationElements {
        width: 50%;
        height: 54vh;
    }
    .informationElements2 {
        width: 50%;
        height: 76vh;
    }
    .information__text1 {
        font-size: 1.4vh;
        width: 9vh;
    }
    .information__text2 {
        width: 10.6vh;
        font-size: 1.2vh;
    }
    .informationElements__information {
        top: 14vh;
    }
    .informationElements2 {
        top: -14vh;
        left: 4vh;
    }
    .informationElements__information2 {
        margin-right: 6vh;
        position: relative;
        height: 28vh;
        width: 15vh;
        top: 10vh;
        left: 40vh;
    }
    .information2__text1 {
        font-size: 1.4vh;
        width: 13vh;
    }
    .information2__text2 {
        font-size: 1.2vh;
        width: 100%;
    }
    .informationElements__information3 {
        position: relative;
        height: 28vh;
        width: 15vh;
        top: 10vh;
        left: 40vh;
    }
    /* Section Four */
    .footer {
        justify-content: flex-start;
        height: 13vh;
    }


}

@media only screen and (min-width: 1201px) and (max-width:1589px) {
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        height: 36px;
        padding: 0px;
        margin-bottom: 0px;
        height: 36px;
    }
    .navbar ul li a {
        padding: 0px;
    }
    .logo a {
        font-size: px;
        align-self: center;
    }
    li, a {
        margin: 0px;
        padding: 0px;
    }
    li a {
        font-size: 18px;
    }
    .navbar-light .navbar-nav .nav-link.active {
        margin-right: 10vh;
    }
    /* Section One */
    .sectionOne {
        font-size: 21px;
        font-weight: var(--font-bold);
        width: 100%;
        height: 85vh;
    }
    .sectionOne__element1 {
        width: 50%;
        margin-left: 12.4vh;
        margin-bottom: 20vh;
    }
    .element1__info {
        font-size: 7vh;
        margin-bottom: 1vh;
    }
    .sectionOne__element2 {
        align-items: center;
    }
    .images__man {
        width: 46vh;
        top: 24vh;
        left: 71vh;
    }
    .images__redCar {
        width: 70vh;
        left: -15vh;
        top: 16vh;
    }
    /* Section One */
    /* Section three */
    .sectionThree {
        display: flex;
        height: auto;
        width: 100%;
    }
    .sectionThree__images {
        width: 100%;
    }
    .images__info {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
    }
    .info_title {
        display: flex;
        width: 100%;
    }
    .sec3Text {
        max-width: 100%;
        padding-top: 6vh;
    }
    .imgCard {
        min-width: 124px;
    }
    .containerSec3 {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        height: auto;
        justify-content: center;
    }
    .cardcontainer {
        margin: 1px;
        margin-bottom: 4em;
    }
    /* Section three */
    /* Section Four */
    .sectionFour {
        height: 90vh;
    }
    .sectionFour__elements {
        height: 80vh;
    }
    .sectionFour__information {
        width: 100%;
    }
    .informationElements__information {
        left: 43vh;
    }
    .informationElements {
        width: 70vh;
    }
    .informationElements2 {
        width: 50%;
        height: 76vh;
    }
    .information__text1 {
        font-size: 2vh;
        width: 14vh;
    }
    .information__text2 {
        width: 14vh;
        font-size: 1.6vh;
    }
    .informationElements__information {
        top: 17vh;
    }
    .informationElements2 {
        top: -13vh;
        left: 4vh;
    }
    .informationElements__information2 {
        margin-right: 16vh;
        margin-left: 12vh;
        position: relative;
        height: 35vh;
        width: 20vh;
        top: 14vh;
        left: 55vh;
    }
    .information2__text1 {
        font-size: 2vh;
        width: 13vh;
    }
    .information2__text2 {
        font-size: 1.6vh;
        width: 100%;
    }
    .informationElements__information3 {
        margin-right: 16vh;
        margin-left: 5vh;
        position: relative;
        height: 35vh;
        width: 20vh;
        top: 14vh;
        left: 55vh;
    }
    /* Section Four */
}

@media only screen and (min-width: 1590px) {
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        height: 36px;
        padding: 0px;
        margin-bottom: 0px;
        height: 36px;
    }
    .navbar ul li a {
        padding: 0px;
    }
    .logo a {
        font-size: px;
        align-self: center;
    }
    li, a {
        margin: 0px;
        padding: 0px;
    }
    li a {
        font-size: 18px;
    }
    .navbar-light .navbar-nav .nav-link.active {
        margin-right: 10vh;
    }
    /* Section One */
    .sectionOne {
        font-size: 21px;
        font-weight: var(--font-bold);
        width: 100%;
        height: 85vh;
    }
    .sectionOne__element1 {
        width: 50%;
        margin-left: 12.4vh;
        margin-bottom: 20vh;
    }
    .element1__info {
        font-size: 9vh;
        margin-bottom: 1vh;
    }
    .sectionOne__element2 {
        align-items: center;
    }
    .images__man {
        width: 55vh;
        top: 15vh;
        left: 75vh;
    }
    .images__redCar {
        width: 82vh;
        left: -29vh;
        top: 11vh;
    }
    /* Section One */
    /* Section Four */
    .sectionFour {
        height: 110vh;
    }
    .sectionFour__elements {
        height: 90vh;
    }
    .sectionFour__information {
        width: 100%;
    }
    .title__element {
        font-size: 30px;
    }
    .informationElements__information {
        left: 49vh;
    }
    .informationElements {
        width: 110vh;
    }
    .informationElements2 {
        width: 50%;
        height: 76vh;
    }
    .information__text1 {
        font-size: 2.5vh;
        width: 14vh;
    }
    .information__text2 {
        width: 16vh;
        font-size: 2vh;
    }
    .informationElements__information {
        top: 19vh;
    }
    .informationElements2 {
        top: -13vh;
        left: 4vh;
    }
    .informationElements__information2 {
        margin-right: 16vh;
        margin-left: 12vh;
        position: relative;
        height: 43vh;
        width: 23vh;
        top: 16vh;
        left: 55vh;
    }
    .information2__text1 {
        font-size: 2.5vh;
        width: 16vh;
    }
    .information2__text2 {
        font-size: 2vh;
        width: 100%;
    }
    .informationElements__information3 {
        margin-right: 16vh;
        position: relative;
        height: 43vh;
        width: 23vh;
        top: 16vh;
        left: 55vh;
        ;
    }
    /* Section Four */
}

@media only screen and (min-height: 800px) and (max-height:825px) {
    .carousel-container {
        top: 20%;
        left: 44%;
    }
    .information2__text1 {
        font-size: 1.1vh;
        width: 13vh;
        margin-top: 0.5vh;
    }
    .information2__text2 {
        font-size: 1vh;
        width: 100%;
    }
    .information__text1 {
        font-size: 1.1vh;
        width: 8vh;
        margin-top: 0.5vh;
    }
    .information__text2 {
        width: 8vh;
        font-size: 1vh;
    }
    #carousel p {
        width: 7vh;
        top: 19%;
    }
}

/* Media Queries */