@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
:root {
    /* Colors: */
    --green-light: #1ED997;
    --green: #19703F;
    --dark-blue: #00355B;
    --blue-light: #70BBDA;
    --white: #FFFF;
    --orange: #ff4f3d;
    --yellow: #FFBF3A;
    /* Font */

    
    --body-font: 'Poppins', sans-serif;
    /* Font */
    --font-10: 10px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-21: 21px;
    --font-24: 24px;
    --font-40: 40px;
    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;
    /* Margenes */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: rgb(255, 255, 255);
    font-family: var(--body-font);
    width: 100%;
}

.logo a {
    font-size: var(--font-24);
    font-weight: var(--font-bold);
}

ul, p {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

li a {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    transition: background-size .2s;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    color: var(--dark-blue);
    font-size: var(--font-18);
    font-weight: var(--font-bold);
}

a:hover, a:focus {
    background-size: 100% 2px;
    color: var(--dark-blue);
}

.fw-medium {
    font-weight: var(--font-medium);
}

.container {
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
}

/* Navbar */

.navbar {
    padding: 0px;
    margin-bottom: 0px;
    height: 36px;
    font-family: var(--title-black);
}

.navbar-dark {
    background-color: var(--blue-light);
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
    margin-top: 10em;
}

/* Navbar */

/* Section One */

.sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue-light);
    color: var(--white);
    font-size: 64px;
    font-weight: var(--font-bold);
    width: 100%;
    height: 30rem;

}

.images__man{
    height: 350px;
}

.sectionOne__element1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: initial;
    color: var(--white);
    font-size: var(--title-white-font-size);
    width: 50%;
    margin-left: 4.3em;
    margin-top: 1em;
}
.sectionOne__element1 b{
    color: var(--dark-blue);
}

.sectionOne__images {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    left: 0;
    top: 0;
}

.imagen1 {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-right: 2em;
}

/* .imagen1::after{ 
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
} */

.imagen2 {
    position: absolute;
    width: 30%;
    height: 275px;
}



.sectionOne__element2 {
    display: flex;
    align-items: flex-end;
}

.sectionOne__element2 p {
    display: flex;
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--dark-blue);
    margin-left: 25px;
}

.element2__button {
    background-color: var(--orange);
    border-radius: 32px;
    width: 162px;
    height: 48px;
}

.element2__button {
    font-size: 16px;
    color: var(--letter-white-color);
    border: 0;
}



/* Section One */

/* Section Two */

.sectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 322px;
    width: 50%;
    background-color: #FFFF;
    color: var(--dark-blue);
    text-align: center;
    font-size: 32px;
    font-weight: var(--font-bold);
}

/* Section Two */

/* Section three*/

.sectionThree {
    display: flex;
    align-items: center;
    width: 100%;
    height: 498px;
    margin:auto;
    background-color: var(--blue-light);
}

.sectionThree__images {
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.sectionThree__images h3 {
    font-size: 32px;
    color: var(--dark-blue);
    font-weight: var(--font-bold);
}

.images__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    width: 1280px;
}

.ImagenPrueba {
    width: 129px;
    height: 186px;
    background-color: var(--dark-blue);
    border-radius: 1em;
    padding: 0;
    margin: 0;
}

.imgCard {
    width: 162px;
    height: 298px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 9px #0000004D;
    border-radius: 16px;
    opacity: 1;
}

.imgCard p {
    font: var(--dark-blue);
    font-size: var(--font-14);
    font-weight: var(--font-bold);
    width: 116px;
    height: 62px;
    text-align: center;
    text-justify: center;
    letter-spacing: 0px;
}

.sec3CardImg {
    padding: auto;
    margin: auto;
}

.cardcontainer {
    padding: 5px;
    margin: auto
}

.sec3CardP {
    padding: auto;
    margin: auto;
}

.sec3Text {
margin:auto;
max-width: 174px;
}

/* Section three */

/* Section four */

.sectionFour {
    height: 40em;
    width: 100%;
    text-align: center;
    padding: 0;
}

.sectionFour__elements {
    display: flex;
    flex-direction: column;
}

.elements__image{
    position: relative;
    width: 650px;
    min-width: 50%;
    height: 465px;
    min-width: 20%;
    z-index:0;
}

.sectionFour__title {
    color: var(--orange);
    font-weight: var(--font-bold);
    font-size: 25px;
    margin-top: 2em;
    z-index: 1;

}

.sectionFour__information {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
    z-index: 1;
}

.informationElements__information{
    margin-right: 9em;
    margin-top: 1em;
}

.informationElements__information2{
    margin-right: 8em;
    height: 240px;
    padding: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 9px #00000080;
    border-radius: 16px;
    opacity: 1;
    width: 7.5em;
}

.informationElements__information3{
    height: 240px;
    padding: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 9px #00000080;
    border-radius: 16px;
    opacity: 1;
    width: 7.5em;
}

.informationElements{
    position: absolute;
    display: flex;
    top: 95em;
    right: 63em;
}

.information__text1 {
    font-weight: var(--font-bold);
    color: var(--orange);
    font-size: 15px;
    width: 90px;
    text-align: left;
}

.information__text2 {
    color: var(--blue-light);
    width: 90px;
    text-align: left;
    font-size: 10px;
}

.sectionFour__button {
    position: relative;
    background-color: var(--orange);
    color: var(--white);
    font-weight: var(--font-bold);
    border-radius: 32px;
    width: 450px;
    height: 60px;
    left: 45em;
}

/* Section four */

/* Section five */

.sectionFive {}

.sectionFive b {
    font-size: 40px;
    margin: 0 1em 0 1em;
}

.sectionFive p {
    font-size: 18px;
    margin: 0 2em 0 2.2em;
    width: 50%;
}

.sectionFive__element {
    height: 400px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.border-right{
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;

}

.border-left{
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;

}

/* Section five */

/* Section six */

.sectionSix {
    background-color: var(--blue-light);
    height: 438px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionSix__elements {
    display: flex;
    height: 238px;
    margin: 3em;
}

.elements__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border-radius: 12px;
}

.sectionSix__title {
    color: var(--blue-light)
}

.sectionSix__info {
    color: var(--dark-blue);
}

.sectionSix__button {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 32px;
    font-weight: var(--font-bold);
}

/* Section six */

/* Section seven */

.sectionSeven {
    background-color: var(--yellow);
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sectionSeven b {
    color: var(--dark-blue);
    font-size: 40px;
}

.sectionSeven p {
    color: var(--dark-blue);
    font-size: 16px;
}

/* Section seven */

.footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    background-color: var(--orange);
    height: 64px;
    font-size: 24px;
}

.footer p {
    text-align: center;
    font-size: 12px;
}

.navbar-nav {
    display: flex;
    background-color: var(--nav-color);
}



/* Media Queries */

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .navbar {
        height: 64px;
    }
    .logo a {
        font-size: px;
        align-self: center;
    }
    li {
        margin: 20px;
    }
    li a {
        font-size: 18px;
    }
    .sectionOne {
        font-size: 21px;
        font-weight: var(--font-bold);
        width: 100%;
        height: 205px;
    }

    


    /* Section three */
    .sectionThree{
        display: flex;
        height: auto;
        width:100%
    }

    .sectionThree__images{
        width:100%
    }

    .images__info{
        display: flex;
        flex-direction: column;
        height: auto;
        width:100%;
        align-items: center;
    }

    .info_title{
        display: flex;
        width: 100%;
    }
    .sec3Text{
        max-width:100%;
        padding-top: 3em;
    }

    .imgCard{
        min-width: 124px;
    }

    .containerSec2{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        height: auto;
        justify-content: center;
    }

    .cardcontainer{
        margin: 3em;
    }

    /* Section three */

}

/* Media Queries */