@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root{
    /* Colors: */
--green-light: #1ED997;
--green: #19703F;
--dark-blue: #00355B;
--blue-light: #70BBDA;
--white: #FFFF;
--orange: #ff4f3d;

/* Font */

--body-font: 'Poppins', sans-serif;

/* Font */

/* Font weight */

--font-regular:400;
--font-medium:500;
--font-bold: 700;
--font-black:900;

/* Margenes */
--mb-1: .5rem;
--mb-2: 1rem;
--mb-3: 1.5rem;

}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: rgb(255, 255, 255);
    font-family: var(--body-font);
    width: 100%;
}

.logo a {
    font-size: var(--title-black);
    font-weight: var(--font-bold) ;
}

ul, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 0px;
    margin-left: 0px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    transition: background-size .2s;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    color: var(--dark-blue);
    font-size: 10px;
    font-weight: bold;
}

a:hover, a:focus {
    background-size: 100% 2px;
    color: var(--dark-blue);
}

.container {
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
}

/* Navbar */

.navbar {
    padding: 0px;
    margin-bottom: 0px;
    height: 36px;
    font-family:var(--title-black);
}
.navbar-dark{
    background-color: var(--blue-light);
    width: 100%;
}

.dropdown-toggle::after {
    display: none;
    margin-top: 10em;
}

/* Navbar */

/* Section One */

.sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blue-light);
    color: var(--white);
    font-size: 39px;
    font-weight: var(--font-bold);
    width: 100%;
    height: 425px;
}

.sectionOne__element1 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: initial;
    color: var(--white) ;
    font-size: var(--title-white-font-size);
    width: 50%;
}

.sectionOne__element1 p {
    margin-right: 2em;
    margin-bottom: .8em;
}

.sectionOne__images{
    position: relative;
    left: 0;
    top: 0;
}

.imagen1{
    position:absolute;
    width:50%;
    height: 275px;
    background-color:var(--green-light);
}

.imagen2{
    position:absolute;
    width:100%;
    height: 275px;
    background-color:var(--green);
}

.sectionOne__element2{
    display: flex;
    align-items: flex-end;
}

.sectionOne__element2 p {
    display: flex;
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--dark-blue);
    margin-left: 25px;
}

.element2__button{
    background-color:var(--orange);
    border-radius: 32px;
    width: 162px;
    height: 48px;
}

.element2__button{
    font-size: 16px;
    color: var(--letter-white-color);
    border: 0;
}


/* Section One */

/* Section Two */

.sectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 322px;
    width: 50%;
    background-color: #FFFF;
    color: var(--dark-blue);
    text-align: center;
    font-size: 32px;
    font-weight: var(--font-bold) ;
}

/* Section Two */

/* Section three*/
.sectionThree{
    display: grid;
    align-items: center;
    width: 100%;
    height: 498px;
    background-color: var(--blue-light);
}

.sectionThree__images{
    display: flex;
    align-items: flex-end;
    margin: 0 3em 0 3em;
}

.sectionThree__images p {
    font-size: 32px;
    color: var(--dark-blue);
    font-weight: var(--font-bold);
    padding-left: 2em;
}

.ImagenPrueba{
    height: 298px;
    width: 162px;
    background-color: var(--dark-blue);


}

/* Section three */

/* Section four */

.sectionFour{
    height: 520px;
    width: 100%;
    text-align: center;
    margin-top: 6em;
}

.sectionFour__elements{
    display: flex;
    flex-direction: column;
}

.sectionFour__title {
    color: var(--orange);
    font-weight: var(--font-bold);
    font-size: 24px;

}

.sectionFour__information{
    display: flex;
    justify-content: center;
    width: 100%;
}

.information__text1{
    font-weight: var(--font-bold);
    font-size: 18px;
    width: 120px;
}

.information__text2{
    color:var(--blue-light);
    width: 102px;

}

.sectionFour__button{
    background-color: var(--orange);
    color: var(--white);
    width: 372px;
    height: 48px;
    border-radius: 32px;
}
/* Section four */

.footer {
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 3em;
    background-color: rgb(36, 60, 201);
}

.navbar-nav {
    display: flex;
    background-color: var(--nav-color);
}

@media (min-width: 600px) {
    .navbar{
        height: 64px;
    }
    .logo a {
        font-size: 24px;
        align-self: center;
    }
    li{
        margin: 20px;
    }
    li a {
        font-size: 18px;
    }
}